@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@700&family=Roboto:wght@700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.gray{
    background-color:#2f3f54;
}
.white{
    background-color:#ffffff;
}
.topbar{
    width: 1170px;
    height: 45px;
    margin:auto;
    padding:0px 15px;
}
.topbar p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    opacity: 30%;
    color:#ffffff;
    display: inline-block;
    line-height: 45px;
}
.navigations{
    height: 85px;
    padding-right: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px ;
    
}
.navigations .nav-item a{
    color:#2f3f54;
    font-family: 'Open Sans', sans-serif;
}
.slider_full{
    height: 835px;
    background-image: url(../image/slider.png);
    padding-top: 135px;
}
.slider_full .slider{
    height: 480px;
    padding: 15px;
}
.slider_full p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color:white;
    line-height: 24px;
}
.slider_full h1{
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    color:white;
    line-height: 52px;
    text-transform: uppercase;
}
.slider_full .sub-title{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: bold;
    color:white;
    line-height: 52px;
    margin-bottom:0px;
}
.slider ul{
    margin-top: 35px;
    list-style-image: url(../image/list.png);
    margin-left: 20px;
}
.slider ul li{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color:white;
    font-weight: 400;
    line-height: 27px;
}
.slider button{
    padding-left:40px;
    padding-right: 40px;
    border-radius: 30px;
    color:white;
    border:2px solid white;
    margin-top:30px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}
.mini-server{
    margin-top:183px;
    margin-left: -80px;
    margin-right: 30px;
}
.max-server{
   margin-top: 52px;

}
.circle{
    margin-left: -20px;
}
.circle p{
    color:black;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-top:-160px;
    margin-left: 60px;
}
.circle h1{
    color:#212121;
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: bold;
    margin-top:-8px;
    margin-left: 60px;
}
.circle .month{
    margin-top:5px;
    margin-left: 140px;
}
.background{
    margin-left:60px;
    margin-top:-150px;
}
.inputbox{
    margin-left: 150px;
    margin-top:-250px;
    width: 950px;
    
}
.shadow{
    height: 55px;

    -webkit-box-shadow: -12px 14px 43px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -12px 14px 43px -15px rgba(0,0,0,0.75);
    box-shadow: -12px 14px 43px -15px rgba(0,0,0,0.75);
}
input::placeholder{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color:#4a6385;
    opacity: 58%;
    padding:20px;
}
.button{
    width: 210px;
    font-family: 'Lato', sans-serif;
    font-weight: 5px;
    padding-left: 55px;
    background-color:#2575e7;
    color:white;
}
.list ul{
    text-decoration: none;
    margin-left: 135px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.list ul li{
    display:inline-block;
    padding:20px;
}
.list .price{
    margin-left: 70px;
}
